<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""  xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->



<head>

    <div th:replace="fragments/header :: header-title">&nbsp;</div>

    <th:block th:replace="fragments/header :: header-css"/>

</head>




<body id="minovate" class="appWrapper">






<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- ====================================================
================= Application Content ===================
===================================================== -->
<div id="wrap" class="animsition">

    <div class="page page-core page-login">

        <div class="text-center"><img src="../../../resources/assets/images/logo.svg" th:src="@{/resources/assets/images/logo.svg}" class="login-head-view"></div>

        <div class="container w-420 p-15 bg-white mt-40 text-center">


            <h2 class="text-light text-greensea">S'enregistrer</h2>

            <!-- tile body -->
            <div>

                <form class="form-horizontal" role="form"  method="post" th:action="@{/signup}" th:object="${signupForm}" th:fragment="signupForm">
                    <th:block th:if="${param.error != null}">
                        <div th:replace="fragments/alert :: alert (type='danger', message='Saisie incorrect.')">Alert</div>
                    </th:block>
                    <div class="form-group" th:classappend="${#fields.hasErrors('login')}? 'has-error'">
                        <label for="inputUsername" class="col-sm-3 control-label">Utilisateur</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputUsername" placeholder="Utilisateur" th:field="*{login}"
                                   data-parsley-trigger="change"
                                   data-parsley-range="[4, 12]"
                                   required>
                            <span class="help-block" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Nom Utilisateur incorrect</span>
                        </div>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
                        <label for="inputEmail" class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="inputEmail" placeholder="email@email.com" th:field="*{email}"
                                   data-parsley-trigger="change"
                                   data-parsley-range="[12, 30]"
                                   required>
                            <span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect email</span>
                        </div>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
                        <label for="inputPassword" class="col-sm-3 control-label">Password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password" th:field="*{password}"
                                   data-parsley-trigger="change"
                                   data-parsley-range="[6, 12]"
                                   required>
                            <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect password</span>
                        </div>
                    </div>

                    <div class="form-group" th:classappend="${#fields.hasErrors('passwordConfirm')}? 'has-error'">
                        <label for="inputVerifPassword" class="col-sm-3 control-label">V&eacute;rification Password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="inputVerifPassword" placeholder="Vérification Password" th:field="*{passwordConfirm}"
                                   data-parsley-trigger="change"
                                   data-parsley-range="[6, 12]"
                                   required>
                            <span class="help-block" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Incorrect email</span>
                        </div>
                    </div>

                    <div class="form-group text-left">
                        <label class="col-sm-3 control-label">Photo</label>
                        <div class="col-sm-9">
                            <input type="file" class="filestyle" data-buttonText="Image" data-iconName="fa fa-image" th:field="*{file}" accept="image/png, image/jpeg">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-10 text-left">
                            <button type="submit" class="btn btn-rounded btn-greensea btn-sm">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Enregistrer &nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right"></i> &nbsp;&nbsp;&nbsp;</button>
                        </div>
                    </div>
                </form>

            </div>

        </div>

    </div>


</div>
<!--/ Application Content -->


<th:block th:replace="fragments/footer :: footer-js-debut"/>

<th:block th:replace="fragments/footer :: footer-js-fin"/>
</body>
</html>
