<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->

<head>
    <th:block th:replace="fragments/header :: header-title"/>

    <th:block th:replace="fragments/header :: header-css"/>
</head>

<body id="minovate" class="appWrapper">

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- ====================================================
================= Application Content ===================
===================================================== -->
<div id="wrap" class="animsition">

    <th:block th:replace="fragments/menu :: navbar"/>

    <th:block th:replace="fragments/menu :: sidebar"/>

    <!-- ====================================================
    ================= CONTENT ===============================
    ===================================================== -->
    <th:block th:object="${uneEntreprise}" th:hidden>
        <div id="divDuCodeEntreprise"><p th:id="${uneEntreprise.codeEntreprise}" th:text="${uneEntreprise.nomEntreprise}">Le code entreprise</p></div>
    </th:block>

    <section id="content" th:object="${unAxe}">

        <div class="page page-tables-datatables">

            <th:block th:replace="fragments/content :: pageheader"/>

            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-md-12">

                    <!-- tile -->
                    <section class="tile">
                        <!-- tile header -->
                        <div class="tile-header dvd dvd-btm">
                            <h1 class="custom-font"><img th:src="${unAxe.imageUser.fileDownloadUriUser}"/>&nbsp;&nbsp;<strong th:text="${unAxe.libelleAxe}">Carousel</strong></h1>
                        </div>
                        <!-- /tile header -->

                        <!-- tile body -->
                        <div class="tile-body">

                            <!-- row -->
                            <div class="row">
                                <!-- col -->
                                <div class="col-md-10">
                                    <div class="well" th:text="${unAxe.descriptionAxe}">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                    </div>
                                    <th:block th:object="${nbreEvaluation}" th:hidden>
                                        <div id="accodionCount" th:text="${nbreEvaluation}"></div>
                                    </th:block>

                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-2 text-right"><a href id="indiquePourAxe" class="myIcon icon-primary"></a></div>
                                <!-- /col -->
                            </div>
                            <!-- /row -->

                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <th:block th:each="eval,i:${unAxe.evaluationOneLists}">
                                    <div th:class="'panel panel-'+${unAxe.couleur.libelleCouleur}" th:id="'acc'+${(i.index) +1}" style="display: block">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                                                    <span class="label bg-primary" th:text="${(i.index) +1}">1</span> <th:block th:text="${eval.libelleEvaluation}"></th:block>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <!-- row -->
                                                <div class="row">
                                                    <!-- col -->
                                                    <div class="col-md-10">
                                                        <table class="table table-striped">
                                                            <tbody>
                                                            <tr th:each="quest,j:${eval.questionnaireOneLists}">
                                                                <td th:text="${(j.index) +1}">1</td>
                                                                <td th:text="${quest.libelleQuestionnaire}">Mark</td>
                                                                <td>
                                                                    <!-- row -->
                                                                    <div class="row" th:each="rep,k:${lesReponses}">
                                                                        <!-- col -->
                                                                        <div class="col-md-2">
                                                                            <div th:class="'onoffswitch '+ ${rep.couleur.libelleCouleur} +' inline-block'">
                                                                                <input type="radio" th:name="'onoffswitch-radio_'+${(i.index) +1}+'_'+${(j.index) +1}" class="onoffswitch-checkbox" th:id="'switch'+${(i.index) +1}+'_'+${(j.index) +1}+'_'+${(k.index) +1}" checked="">
                                                                                <label class="onoffswitch-label" th:for="'switch'+${(i.index) +1}+'_'+${(j.index) +1}+'_'+${(k.index) +1}">
                                                                                    <span class="onoffswitch-inner"></span>
                                                                                    <span class="onoffswitch-switch"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <!-- /col -->
                                                                        <!-- col -->
                                                                        <div class="col-md-10" th:text="${rep.libelleReponse}">bien</div>
                                                                        <!-- /col -->
                                                                    </div>
                                                                    <!-- /row -->

                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- /col -->
                                                    <!-- col -->
                                                    <div class="col-md-2 text-right">
                                                        <a href th:id="'indPourDom'+${(i.index) +1}" class="myIcon icon-primary"></a>
                                                    </div>
                                                    <!-- /col -->
                                                </div>
                                                <!-- /row -->
                                            </div>
                                        </div>
                                    </div>
                                </th:block>

                            </div>

                            <div class="text-center" id="navAccordion">
                                <nav>
                                    <ul class="pagination">
                                        <li>
                                            <a href="#" id="navPrev" aria-label="Previous"  hidden>
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <th:block th:each="eva,i:${unAxe.evaluationOneLists}"><li class="b-default" th:id="'navPuce_'+${(i.index) +1}"><a href="#" th:text="${(i.index) +1}">2</a></li></th:block>
                                        <!--<li id="navPuce_1" class="active"><a href="#">1</a></li>
                                        <li id="navPuce_2"><a href="#">2</a></li>
                                        <li id="navPuce_3"><a href="#">3</a></li>-->
                                        <li id="parentNavNext">
                                            <a href="#" id="navNext" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>

                        </div>
                        <!-- /tile body -->
                    </section>
                    <!-- /tile -->

                </div>
                <!-- /col -->
            </div>
            <!-- /row -->

        </div>

    </section>
    <!--/ CONTENT -->


</div>
<!--/ Application Content -->

<th:block th:replace="fragments/footer :: footer-js-debut"/>

<!--/ vendor javascripts -->

<!-- ===============================================
============== Page Specific Scripts ===============
================================================ -->
<script src="../../../../resources/assets/js/reglesdor/reglesdor_un.js" th:src="@{/resources/assets/js/reglesdor/reglesdor_un.js}"></script>
<!--/ Page Specific Scripts -->

<th:block th:replace="fragments/footer :: footer-js-fin"/>

</body>
</html>
