<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->

<head>
    <th:block th:replace="fragments/header :: header-title"/>

    <th:block th:replace="fragments/header :: header-css-datatables"/>

    <th:block th:replace="fragments/header :: header-css"/>
</head>

<body id="minovate" class="appWrapper">

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- ====================================================
================= Application Content ===================
===================================================== -->
<div id="wrap" class="animsition">

    <th:block th:replace="fragments/menu :: navbar"/>

    <th:block th:replace="fragments/menu :: sidebar"/>

    <!-- ====================================================
    ================= CONTENT ===============================
    ===================================================== -->
    <section id="content">

        <div class="page page-tables-datatables">

            <th:block th:replace="fragments/content :: pageheader"/>

            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-md-12">



                    <!-- tile -->
                    <section class="tile">

                        <!-- tile header -->
                        <div class="tile-header dvd dvd-btm">
                            <h1 class="custom-font"><strong>Les R&egrave;les d'Or</strong></h1>
                        </div>
                        <!-- /tile header -->

                        <!-- tile body -->
                        <div class="tile-body">
                            <div class="table-responsive">
                                <table class="table table-custom" id="editable-usage">
                                    <thead>
                                    <tr>
                                        <th>Pic</th>
                                        <th>Libell&eacute;</th>
                                        <th>Description</th>
                                        <th style="width: 160px;" class="no-sort">Notation</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="axe,i:${lesAxes}">
                                        <td><a th:href="@{/axes/file/get/__${axe.codeAxe}__}"><img th:src="${axe.imageUser.fileDownloadUriUser}" alt=""></a></td>
                                        <td th:text="${axe.libelleAxe}">Internet Explorer 4.0</td>
                                        <td th:text="${axe.descriptionAxe}">Internet Explorer 4.0</td>
                                        <!--<td><a th:href="@{/regle-or/notation/__${axe.codeAxe}__}" th:class="'myIcon icon-'+${axe.couleur.libelleCouleur}"  data-toggle="modal" data-target="#myModal3"><i class="fa fa-eye"></i></a></td>-->
                                        <td><a th:href="@{/regles-or/notation/__${axe.codeAxe}__/ent201909031013323811}" th:class="'myIcon icon-'+${axe.couleur.libelleCouleur}"><i class="fa fa-eye"></i></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /tile body -->

                    </section>
                    <!-- /tile -->

                </div>
                <!-- /col -->
            </div>
            <!-- /row -->

        </div>

    </section>
    <!--/ CONTENT -->

</div>
<!--/ Application Content -->

<!-- Modal -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title custom-font">I'm a modal!</h3>
            </div>
            <div class="modal-body">
                Modals are streamlined, but flexible, dialog prompts with the minimum required functionality and smart defaults.
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c"><i class="fa fa-arrow-right"></i> Submit</button>
                <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" data-dismiss="modal"><i class="fa fa-arrow-left"></i> Cancel</button>
            </div>
        </div>
    </div>
</div>


<th:block th:replace="fragments/footer :: footer-js-debut"/>

<th:block th:replace="fragments/footer :: js-datatables"/>
<!--/ vendor javascripts -->

<!-- ===============================================
============== Page Specific Scripts ===============
================================================ -->
<script src="../../../../resources/assets/js/reglesdor/axes.js" th:src="@{/resources/assets/js/reglesdor/axes.js}"></script>
<!--/ Page Specific Scripts -->

<th:block th:replace="fragments/footer :: footer-js-fin"/>

</body>
</html>
