<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<th:block th:fragment="pageheader">
    <div class="pageheader">

        <h2>Dashboard <span>// You can place subtitle here</span></h2>

        <div class="page-bar">

            <ul class="page-breadcrumb">
                <li>
                    <a th:href="@{/}"><i class="fa fa-home"></i> Vision Zero</a>
                </li>
                <li>
                    <a href="index.html">Accueil</a>
                </li>
            </ul>

            <div class="page-toolbar">
                <a role="button" tabindex="0" class="btn btn-lightred no-border pickDate">
                    <i class="fa fa-calendar"></i>&nbsp;&nbsp;<span></span>&nbsp;&nbsp;<i class="fa fa-angle-down"></i>
                </a>
            </div>

        </div>

    </div>
</th:block>

</body>
</html>